/*/FUENTE/*/
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Rye&family=Sansita+Swashed:wght@300&display=swap');
/*/FIN DE FUENTE/*/
/*/GENERALES/*/
html{
    font-size: 62,5%;
    
}
body {
    margin: 1rem;
  
    background-image: url(../img/fondo-de-pagina.jpg);
    background-repeat: repeat;
    background-size: 100% 100vh;
    
}
/*/FIN DE GENERALES/*/
/*/NAV/*/
.logo{
    font-family: 'Galada', cursive;
    font-family: 'Rye', cursive;
    font-size: 2.8rem;
    text-decoration: none;
    color: #000000;
    background-color: #00000000;
}
.backgrounds-nav{
    padding: 0;
    background-color: rgba(195, 144, 125, 0.54);
    
}
.contenedor-header{
    position: relative;
}
.header{
    position: sticky;
    top: 0;
    z-index: 3;
}
.nav-font{
    font-family: 'Galada', cursive;
    font-family: 'Rye', cursive;
    font-size: 1.2rem;
}

/*/FIN DE NAV/*/
/*/FOOTER/*/
footer {
    background-color: #ccc6b9;
    
}

.warp {
    display: flex;
    flex-direction: column;
    padding: 8rem;
    justify-content: flex-end;
}

.contenedor-copy p {
    font-size: 1.8rem;

}

.contenedor-copy {
    border-bottom: 1px solid black;
    
}

.redes {
    display: flex;
    justify-content: center;
}

.redes a{
    font-family: 'Galada', cursive;
    font-family: 'Rye', cursive;
    color: #000000;
    text-decoration: none;
    margin: 1.5rem;
    padding: 0.5rem;
    border: solid black 3px;
    border-radius: 10%;

}

.links-footers {
    margin: 3rem 0rem 0rem 0rem;
}

.links-footers a {
    text-decoration: none;
    color: black;
    margin: 2rem;
    font-family: 'Galada', cursive;
    font-family: 'Rye', cursive;
    padding: 1.2rem;
    
    

}

.links-footers a:hover {
    border-top: 3px solid black;
}
/*/FIN DE FOOTER/*/
/*/INDEX/*/
.fondo-video video{
    position: fixed;
    
    min-width: 100%;
    min-height: 100%;

    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    z-index: -2;

}
.btn-index {
    background: #8c0e0ecf;
    border: #000000 solid black;
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
    
}


.content-index {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 22rem;

}
.container-buttons{
    display: flex;
    justify-content: space-around;
    
}

.header-content {
    display: flex;
    justify-content: center;
    padding: 3rem;
    border: #000000 solid 3px;
    background-color: rgba(255, 244, 196, 0.883);
}

.texto-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.texto-index p {
    padding-left: 0.5rem;
    font-size: 1.5rem;
}
.texto-index h4 {
    font-size: 1.5rem;
}
/*/FIN DE INDEX/*/
/*/INICIO/*/
.img-carrousel{
    height: 40rem;
    object-fit: cover;

}
.carousel-item h5{
    display: inline-block;
    padding: 1.5rem;
    background-color: #292929af;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.carousel-item p{
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
.titulo-principal{
    display: flex;
    justify-content: center;
    background-color:rgba(67, 58, 58, 0.326) ;
    border: solid 2px black;
    margin: 1rem;
    padding: 1rem;
}
.titulo-nav {

    position: absolute;
    top: 35%;
    left: 5%;
    color: #fff;
    font-size: 200%;
    padding: 1%;
    background-color: black;
}
.contenedor-de-imagen-inicio{
    height: 20rem;
    background-image: url(../img/imagen-inicio.jpg);
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    
}
.position-relative{
    position: relative;
}
.empresas h2{
    font-size: 1.5rem;
    padding: 1rem;
    background-color:rgba(67, 58, 58, 0.164) ;
    border: solid 2px black;
}
.empresas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor-de-empresas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-empresa{
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
/*/FIN DE INICIO/*/
/*/NOSOTROS/*/
.contenedor-de-imagen-nosotros{
    height: 20rem;
    background-image: url(../img/imagen-nosotros.jpg);
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.content{
    display: flex;
    flex-direction: column;
    background-color: #a7ab8be3;
}

.contactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-size: 20px;
}
.texto-nosotros{
    margin: 5%;
    padding: 5%;
    border: black solid 3px;
}
.texto-nosotros p{
    font-size: 30px;
}

/*/FIN DE NOSOTROS/*/
/*/CONTACTO/*/
.contenedor-de-imagen-contacto{
    height: 20rem;
    background-image: url(../img/imagen-contacto.jpg);
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.contenedor-de-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0daceb0;
    
}
.contenedor-de-formulario h3{
    margin-top:4rem;
    font-size: 2.5rem;
    font-family: 'Galada', cursive;
    font-family: 'Rye', cursive;
}
.contenedor-de-formulario h5{
    margin: 1rem;
    font-size: 2rem;
}
.contenedor-de-formulario form{
    width: 45%;
    height: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem;
    border: solid black 3px;
    border-radius: 10%;
}
form input{
    margin: 0rem 0rem 5rem 0rem;   
    background-color: #e0daceb0; 
    border: solid black 2px;
   
}
form textarea{
    background-color: #e0daceb0;
    border: solid black 2px;
    
}
form label{
    margin: 0rem 0rem 1rem 0rem;
    font-size: 2.5rem;
}
.enviar{
    margin: 2rem 5rem 0rem 5rem;
    padding: 2rem;
}
.contenedor-sucursales{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.contenedor-sucursales ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: #000000 solid 3px;
    margin: 3rem;
}
.contenedor-sucursales ul li{
    font-size: 2rem;
    margin: 1rem;
    padding: 0.4rem;
    border-left: #000000 solid 2px;
}

.contenedor-de-mapa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}
/*/FIN DE CONTACTO/*/
/*/RECETAS/*/
.contenedor-de-imagen-recetas{
    height: 20rem;
    background-image: url(../img/imagen-recetas.jpg);
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.contenedor-recetas{
    background-color: #a3b58b82;
    margin: 0rem;
    border: solid black 1px;
    
}
.item-recetas{
    background-color: #785f2ea5;
    width: 23.5rem;
    margin: 2rem;
    align-items: center;
    border: solid black 3px;
}
.item-recetas img{
    width: 24rem;
    height: 16rem;
    object-fit: cover;
    padding: 2rem;
    
    object-position: 50%;
}
.item-recetas a{
    text-decoration: none;
}
.item-recetas h5{
    color: white;
}
.item-recetas h5:hover{
    padding: 0.5rem;
    background-color: white;
    color: #000000;
}

/*/FIN DE RECETAS/*/
/*/HTML DE LAS RECETAS INVIDUALES/*/
.nombre-de-imagen img{
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.contenedor-de-titulo-y-presentacion-de-receta h1{
    display: inline-block;
    margin-top: 50px;
    
    padding: 10px;
    border: solid black 2px;
    font-size: 60px;
}
.contenedor-de-titulo-y-presentacion-de-receta{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.contenedor-imagen-y-calificacion{
    display: flex;
    border: solid black 2px;
    padding-right: 120px;
    
    

}
.contendor-receta-individual {
    background-color: #e0dace;
}
.calificacion{
    margin: 10rem;
    margin-top: 10rem;
    margin-left: 20%;
}
.contenedor--ingredientes{
    margin: 2rem 2% 2rem 2%;
    font-size: 2rem;
}
.ingredientes h2{
    font-size: 3rem;
}
.contenedor-preparacion{
    margin: 1rem;
    margin-top: 2rem;
    margin-left: 2%;
}
.contenedor-preparacion h2{
    font-size: 3rem;
}
.pasos-preparacion{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
.pasos-preparacion ol li{
    margin: 1rem;
    font-size: 2rem;
}

/*/FIN DE RECETAS INDIVIDUALES/*/
/*/SUCURSALES/*/
.contenedor-de-imagen-sucursales{
    height: 20rem;
    background-image: url(../img/imagen-sucursales.jpg);
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.sucursales{
    display: inline-block;
    background-color: #baa37987;   
    justify-content: center;
    padding: 5rem;
}
.sucursales iframe{
    width: 100%;
    height: 30rem;
    margin-top: 3.8rem;
    border: solid black 3px;
    border-radius: 5%; 
    
}
.sucursales-ubicaciones{
    padding: 1.5rem;
    border: solid black 3px;
    border-radius: 5%;
}
.sucursales-ubicaciones h2{
    text-align: center;
    margin-top: 3rem; 
    font-size: 2.5rem; 
    font-family: 'Galada', cursive;
    font-family: 'Rye', cursive;

}
.item-sucursales{
    font-size:1.4rem;
    margin: 2rem;
    list-style:circle;
    border-bottom: #000000 solid 3px;
    font-family: 'Galada', cursive;
    font-family: 'Rye', cursive;
    
}
/*/FIN DE SUCURSALES/*/
/*/MEDIA/*/
@media (max-width:800px) {
    .container-buttons{
        display: inline-block;
    }
    .btn-index{
        margin-top: 0.5rem;
    }
    
}
/*/FIN DE MEDIA/*/