$color_logo: #000000;
$color_enlaces:black;
$color_texto_recetas_cards:black;
$color_2: black;
$color_3: white;
$color_4: rgb(255, 255, 255);
$color_5: #fff;
$font-family_1: 'Galada', cursive;
$font-family_2: 'Rye', cursive;
$fondo-logo: #f4e2d800;;
$fondo-nav: #f4e2d8;
$fondo-contenido: #e0dace74;
$fondo_footer: #be96a0dc;
$fondo_titulo_nav: black;
$fondo_btn:black;
$fondo-contenido-index: rgba(255, 244, 196, 0.883);
$fondo-titulo-carousel: #292929af;
$fondo-contacto-enviar: #5f9764d2;
$fondo_contenido_recetas_individuales: #c59a9aa3;
$gradient-body:linear-gradient(to bottom,#f4e2d8,#ba5370);
$gradient_recetas:linear-gradient(rgb(255, 255, 255), #f1f1f1);